<!DOCTYPE html>
<html>
{{>header}}

<body>
  <div class="container">
    <div class="container-fluid height-full bg-dark">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="title__h1">
            <a class="title__anchor" href="/">tech.harrywinser.com</a>
          </h1>
        </div>
      </div>
    </div>

    <div class="row content__row">
      {{#articles}}
        <div class="row">
          <h2>{{title}}</h2>
          <div class="col-sm-12">
            {{{data}}}
          </div>
        </div>
      {{/articles}}
    </div>
  </div>
  {{>scripts}}
</body>
</html>
