
.height-full {
  height: 100vh;
}

.title__anchor{
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

.title__anchor:hover {
  text-decoration: none;
}

.title__header__row {
  color: inherit;
}

.title__h1__main {
  font-size: 350px;
  color: #e7e7e7;
}

.title__h1__subheader{
  font-size: 50px;

  color: #e7e7e7;
}

.title__h1__subheader__container{
  margin-left: 23px;
}

.header__container__background {
  background: #3e4243;
  filter: blur(5px);
}
