
body{
  font-family: 'Lato', sans-serif;
}

.height-full {
  height: 100vh;
}

.title__anchor{
  text-decoration: none;
  color: white;
}

.title__anchor:hover {
  text-decoration: underline;
  color: white;
}

.title__header__row {
  color: inherit;
}

.title__h1__main {
  font-size: 350px;
}

.title__h1__main:hover{
  font-size: 350px;
  text-decoration:none;
}

.title__h1__subheader{
  font-size: 50px;
}

.title__h1__subheader__container{
  margin-left: 23px;
}

.header__container__background {
  background: #3e4243;
  filter: blur(5px);
}

.title__social-buttons__container{
  margin-top: 35px;
}

.content__container{
  width: 750px;
  font-size: 15px;
}

.post-image{
  width: 100%;
  height: 100%;
}

.post-image-container-square {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.post-image-container-tall{
  width: 310px;
  height: 390px;
  margin: 0 auto;
}

.post-image-container-wide {
    height: 300px;
    width: 500px;
    margin: 0 auto;
}

.content{
  margin-top: 30px;
  margin-bottom: 75px;
}

.content__data{
  font-size: 18px;
}

.content__title__anchor {
  text-decoration: none;
  color: black;
}

.content__title__anchor:hover {
  text-decoration: underline;
  color: black;
}

.content__header{
  font-size: 45px;
  text-align: center;
  margin-bottom: 50px;

}

.content__date{
  text-align: center;
  margin-top: 50px;
}

.article__header{
  font-size: 120px;
}
