
.height-full {
  height: 100vh;
}

.title__anchor{
  text-decoration: none;
  color: black;
  font-family: 'Lato', sans-serif;
}

.title__anchor:hover {
  text-decoration: none;
  color: black;
}

.title__header__row {
  font-size: 50px;
  text-align: center;
  margin: 50px;
}

.title__header__main {
  font-size: 100px;
}

.title__header__subheader{
  font-size: 50px;
}
